 /* Generic formatting */
 body{
	background-color:#FFE4D4;
}
p{
	font-family: Verdana,serif;
	font-size: 13pt;
	text-align: justify; 
	margin:2%;
}

h1{
	font-family:Verdana,sans-serif;
	font-size: 20pt;
	text-align: center;
	margin:2%;
}
		
h2{
	font-family: Verdana,sans-serif;
	font-size: 15pt;
	text-align: left;
	margin:2%;
}
h3{ font-family: Verdana,sans-serif;
    font-size: 13pt;
	text-align: center;
	margin:2%;
}
		
li{
	font-family: Verdana,serif;
	font-size: 13pt;
	margin:2%;
}


table{  
	border: 1px solid;
	border-collapse: collapse;
	margin: 2%;
}

th{
	font-size: 15pt;
    height: 70px;
    border: 1px solid;
    text-align: left;
}
td{
	font-size: 13pt;
	text-align: left;
}

a{
	 color: #848484;
}
