/* Customized formatting */
/* banner image*/
.banner{
		 height:375px;   
		 width: 100%;
}
/* Navigation Menu Bar Formatting */
.wrapper ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8c6b6;
}

.wrapper li{
  float: left;
}

.wrapper li a {
	  display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
	  font-family: cursive;
}

.wrapper li a:hover:not(.active) {
  background-color: #fad9c9;
}

.active {
  background-color: #04AA6D;
}

/* home page splitter*/
.home-left{
	float:left; 
	width:50%;
}
.home-right{
	float:right; 
	width:50%;
}
.profile-img{
	height:550px;
	padding:2%;
	border: 5px solid #EFBD9F;
}

/* sports page splitter*/
.sports-left{
	float:left; 
	width:50%;
}
.sports-right{
	float:right; 
	width:50%;
}
.sports-right img{
	height:400px; 
	padding: 2%;
	border: 5px solid #EFBD9F;
}

/* books page splitter*/
.books{
	float:left; 
	width:100%;
	margin:2%;
	padding:2%;
}
.books-left{
	float:left; 
	width:40%;
}
.books-right{
	float:right; 
	width:60%;
}
.books-right img{
	height:400px; 
	padding: 2%;
	border: 5px solid #EFBD9F;
}
/* formating for citations */
.cite{
	font-family: Verdana, serif;
	font-size: 11pt;
}


